.container{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 150px auto;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    animation: squarerainbow 4s ease-in 2s infinite normal;
}

@keyframes squarerainbow {
    0%{
        background-color: red;
        top: 0;
        left: 0;
    }
    25%{
        background-color: blue;
        top: 400px;
        left:0;
    }
    50%{
        background-color: green;
        left: 400px;
        top: 400px;
    }

    75%{
        background-color: yellow;
        top: 0;
        left: 400px;
    }

    100%{
        background-color: red;
        top: 0;
        left: 0;
    }
}