.container{
    position: relative;
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin: 150px auto;
}

.box{
    position: absolute;
    width: 100px;
    height: 100px;
    animation: squarerainbow 6s ease-in 2s infinite alternate;
}

@keyframes squarerainbow {
    0%{
        background-color: red;
        top: 0;
    }
    25%{
        background-color: blue;
        top: 400px;
        left:400px;
    }
    50%{
        background-color: green;
        left: 0;
        top: 0;
    }
    100%{
        background-color: yellow;
    }
}